.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header__title {
    color: lightseagreen;
}

.user {
    display: flex;
    align-items: center;
}

.user__mail {
    padding: 0 1rem 0 0;
    font-weight: bold;
    color: lightseagreen;
}

.user__avatar {
    height: 50px;
    width: 50px;
    border-radius: 20%;
}