<div class="container">
    <div class="form__card">
      <form action="#" class="form"  [formGroup]="recuperarPassword">
        <h1 class="form__title">Restablecer Contraseña</h1>
       
        <div class="form__control">
            <input class="control__input" type="password" formControlName="password" placeholder="Contraseña" />
            <label for="input-field" class="control__label">Contraseña</label>
            <span class="control__span"></span>
          </div>
          <span class="alert" *ngIf="
              recuperarPassword.get('password')?.hasError('required') &&
              recuperarPassword.get('password')?.touched
            ">
            La <strong class="alert__strong">Contraseña</strong> es requerida
          </span>
          <span *ngIf="
              recuperarPassword.get('password')?.hasError('minlength') &&
              recuperarPassword.get('password')?.touched
            ">
            El <strong class="alert__strong">Contraseña</strong> debe tener 6
            caracteres
          </span>
          <div class="form__control">
            <input class="control__input" type="password" formControlName="repetirPassword"
              placeholder="Repetir Contraseña" />
            <label for="input-field" class="control__label">Repetir contraseña</label>
            <span class="control__span"></span>
          </div>
          <button type="submit" class="form__btn" (click)="recoverAccount()">
            Recuperar Contraseña
          </button>
        </form>
      <div class="form__info">
        <h1 class="info__title">Gluky users</h1>
        <p class="info__paragraph">
          Sistema para la administración de usuarios de prueba.
        </p>
      </div>
    </div>
  
  </div>
  